<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="../static/bnalpha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@300;400;800&display=swap" rel="stylesheet">
    <title>অ - থেকে য়</title>
</head>
<body>
    <ul class="bengali-list">
        <li class="bengali-text">অক্ষর অনুযায়ী শব্দ</li>
    </ul>    
    <ul class="bengali-list">
        <li class="bengali-text2">স্বর-বর্ণ</li>
    </ul> 

    <ul>
        <li> <a href="#">অ</a></li>
        <li>আ</li>
        <li>ই</li>
        <li>ঈ</li>
        <li>উ</li>
        <li>ঊ</li>
        <li>ঋ</li>
        <li>এ</li>
        <li>ঐ</li>
        <li>ও</li>
        <li>ঔ</li>
    </ul>
    <ul class="bengali-list">
        <li class="bengali-text2">ব্যঞ্জন-বর্ণ</li>
    </ul> 
    <ul>
        <li>ক</li>
        <li>খ</li>
        <li>গ</li>
        <li>ঘ</li>
        <li>ঙ</li>
        <li>চ</li>
        <li>ছ</li>
        <li>জ</li>
        <li>ঝ</li>
        <li>ঞ</li>
        <li>ট</li>
        <li>ঠ</li>
        <li>ড</li>
        <li>ঢ</li>
        <li>ণ</li>
        <li>ত</li>
        <li>থ</li>
        <li>দ</li>
        <li>ধ</li>
        <li>ন</li>
        <li>প</li>
        <li>ফ</li>
        <li>ব</li>
        <li>ভ</li>
        <li>ম</li>
        <li>য</li>
        <li>র</li>
        <li>ল</li>
        <li>শ</li>
        <li>ষ</li>
        <li>স</li>
        <li>হ</li>
        <li>ক্ষ</li>
        <li>ড়</li>
        <li>ঢ়</li>
        <li>য়</li>
    </ul>
</body>
</html>
</html>
