<!DOCTYPE html>
<html lang="en">

<head>
  <!--{% load static %}-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Tiro+Bangla&display=swap" rel="stylesheet">
  <!-- <script src="{% static 'popup.js' %}" defer></script>
  <title>Personal Dictionary</title> -->
</head>

<body>
  <div class="box">
    <h1 id="header">বাংলা শব্দ ডিকশনারি</h1>
    <form id="searchForm" action="" method="get">
      <input type="text" name="query" placeholder="শব্দ লিখুন">
      <input type="submit" value="Search" onclick="showPopup()">
    </form>
    <div id="searchResults">
      <div id="popup" style="display: none;"></div>
    </div>
  </div>
  <div class="main">
    <p class="sign" align="center">Word <br> Meaning</p>
</div>
</div>
</body>
</html>
