body {
    margin: 10px;
    background-color: rgb(0, 0, 0);
}

ul {
    list-style: none;
    display: flex;
    flex-wrap:wrap;
}
.bengali-list {
    justify-content: center;
    box-sizing: border-box;
}

.bengali-text {
    width: 80%;
    height: 50px;
    max-width: 300px;
    text-align: center;
    background-color: #FFC107; /* Yellow */
    color: #ffffff;
    font-size: 1.5em;
    border-radius: 10px;
    font-family: 'Noto Serif Bengali', serif;
    font-weight: 400;
}
.bengali-text2 {
    width: 100%;
    height: 40px;
    max-width: 160px;
    text-align: center;
    background-color: #FFC107; /* Yellow */
    color: #ffffff;
    font-size: 1.5em;
    border-radius: 1em;
    font-family: 'Noto Serif Bengali', serif;
    font-weight: 400;
}
li {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px; /* Adjust the height as needed */
    margin: 10px;
    text-align: center;
    background-color: #FFC107; /* Yellow */
    color: #ffffff;
    transition: background-color 0.5s;
    border-radius: 0.4em;
    font-family: 'Noto Serif Bengali', serif;
    font-weight: 400;
    font-size: 25px;
}

li:hover {
    background-color: #ff8c00;
    font-size: 26px;
    text-shadow: 1px 1px 3px #292929;
    box-shadow: 0 0 45px rgb(251, 67, 0) !important;
}
/* Responsive styles */
@media (max-width: 600px) {
    ul {
        max-width: none; /* Remove max-width on smaller displays */
    }
}
